.App {
  margin: 1em;
}

.App > h1 {
  font-size: 60px; font-size: 6rem;
}

.App > h2 {
  font-size: 30px; font-size: 3rem;
}

.App .typefaces {
  display: flex;
}

.Typeface {
  flex: 1;
  padding: 0.5em;
  background: #f5f5f5;
  margin: 0.5em;
  border-radius: 0.5em;
  position: relative;
}

.Typeface.locked:before {
  content: "locked";
  font-size: 80%;
  text-transform: uppercase;
  padding: 0.1em 0.25em;
  color: #fff;
  background: #000;
  border-radius: 2px;
  position: absolute;
  display: block;
  top: 1em;
  right: 1em;
}

.Typeface section {
  margin: 4rem 0;
}

.Typeface p {
  margin-bottom: 1rem;
}

.Typeface header h2 {
  font-size: 40px; font-size: 4rem;
}

.Typeface header h3 {
  font-size: 20px; font-size: 2rem;
}

.Typeface header span {
  color: #ddd;
}

.Links strong {
  font-weight: bold;
  text-decoration: underline;
}