html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #fafafa;
  color: #101010;
  font-size: 16px; font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
}

button {
  margin: 2rem 0;
}